/* Example styles for the admission form */
body {
    font-family: serif, sans-serif;
    background-color: #68f381;
}

h1 {
    color: #080000;
    text-align: center;
}

/* Customize form fields, buttons, etc. */
input[type="text"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 40px;
    border: 1px solid #fd0303;
    border-radius: 10px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 50px;
    border-radius: 30px;
    cursor: pointer;
}
